.spinner-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.spinner-wrapper--small {
  width: 24px;
  height: 24px;
}
.spinner-wrapper--medium {
  width: 40px;
  height: 40px;
}
.spinner-wrapper--large {
  width: 64px;
  height: 64px;
}
.spinner {
  position: absolute;
  border-radius: 50%;
  border-top: 2px solid var(--primary-color);
  border-right: 2px solid transparent;
  animation: spin 1s linear infinite;
  width: 100%;
  height: 100%;
}
.spinner-progress-text {
  font-size: 0.75rem;
  color: var(--text-secondary);
  font-weight: bold;
}
.spinner-wrapper--large .spinner-progress-text {
    font-size: 1rem;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}