@import "tailwindcss";
.storybook-radio-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.storybook-radio-input {
  height: 1rem;
  width: 1rem;
  border: 1px solid #9ca3af;
  color: #1ea7fd;
}
.storybook-radio-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(30, 167, 253, 0.5);
}
.storybook-radio-label {
  margin-left: 0.5rem;
  display: block;
  font-size: 0.875rem;
  color: #1f2937;
}
