.modal-open {
  overflow: hidden;
}
.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container {
  position: relative;
  background-color: var(--background-secondary);
  border-radius: 0.5rem;
  padding: 1.5rem;
  text-align: left;
  overflow: hidden;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  transition: all;
  margin: 2rem;
  max-width: 32rem;
  width: 100%;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.modal-title {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--text-primary);
}
.modal-close-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-secondary);
}
.modal-close-button:hover {
  color: var(--text-primary);
}
.modal-content {
  margin-top: 0.5rem;
}
