.header {
  background-color: var(--background-secondary);
  box-shadow: var(--shadow-md);
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0px;
  z-index: 1;
}
.header-container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
.header-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-primary);
}
.header-nav-desktop {
  display: none;
}
@media (min-width: 768px) {
  .header-nav-desktop {
    display: flex;
    gap: 2rem;
  }
}
.header-nav-link {
  color: var(--text-secondary);
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
}
.header-nav-link:hover {
  color: var(--text-primary);
}
.header-right-side {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header-user-info, .header-login-info {
    display: none;
}
@media (min-width: 768px) {
    .header-user-info, .header-login-info {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }
}
.header-mobile-menu-button-wrapper {
  display: flex;
}
@media (min-width: 768px) {
  .header-mobile-menu-button-wrapper {
    display: none;
  }
}
.header-mobile-menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.375rem;
  color: var(--text-secondary);
}
.header-mobile-menu-button:hover {
  color: var(--text-primary);
  background-color: var(--secondary-color-hover);
}
.header-nav-mobile {
  padding: 0.5rem 0.75rem 0.75rem;
  background-color: var(--background-secondary);
}
@media (min-width: 768px) {
  .header-nav-mobile {
    display: none;
  }
}
.header-nav-link-mobile {
  color: var(--text-secondary);
  display: block;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
.header-nav-link-mobile:hover {
  color: var(--text-primary);
  background-color: var(--secondary-color-hover);
}
.mobile-auth-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-top: 0.5rem;
}
